.best-product {
  margin: 35px;
}

.best-product__title {
  @include reset;
  @include font-params(25px, 30px);
  margin-bottom: 8px;
}

.best-product__subtitle {
  @include reset;
  margin-bottom: 30px;

  @include font-params(17px, 20px);
  color: $tiffany-color;
}

.best-product__description {
  @include reset;
  margin-bottom: 30px;

  @include font-params(15px, 24px);
  color: $dark-gray;
}

.best-product__table {
  @include font-params(15px, 20px);
  color: $dark-gray;
}

.best-product__price {
  @include reset;
  margin-bottom: 30px;

  @include font-params(17px, 24px);
  color: $dark-gray;
}

.best-product__img {
  @include reset;
  margin-bottom: 30px;
}
