.best-product {
  position: relative;
  width: 260px;
  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 38px;

  &::after {
    position: absolute;
    content: "";
    width: 320px;
    height: 6px;
    bottom: -3px;
    left: -30px;
    background-image: url("../img/zigzag-line-mobile.svg");
    background-size: 320px 19px;
    background-repeat: repeat-x;
    background-position: 40px;
  }
}

.best-product__title {
  @include font-params(25px, 30px);
  margin: 0;
  margin-bottom: 5px;
  color: rgba(1, 0, 0, 1);
}

.best-product__subtitle {
  margin-top: 0;
  margin-bottom: 22px;

  @include font-params(17px, 20px);
  color: $tiffany-color;
  text-transform: uppercase;
}

.best-product__description {
  margin-bottom: 17px;

  @include font-params(15px, 24px);
  color: $dark-gray;
}

.best-product__table {
  width: 100%;
  margin-bottom: 27px;
  margin-left: -2px;

  @include font-params(15px, 20px);
  color: $dark-gray;
}

.best-product__field,
.best-product__value {
  border-bottom: 1px solid $gray-color;
  padding-top: 8px;
  padding-bottom: 9px;
}

.best-product__price {
  margin: 0;
  margin-bottom: 26px;

  @include font-params(17px, 24px);
  color: $dark-gray;
  text-align: center;
}

.best-product__img {
  margin-bottom: 20px;
}

.best-product__field {
  width: 92px;
}

.best-product__order-btn {
  padding-top: 12px;
}

@media (min-width: $tablet-width) {
  .best-product {
    width: 668px;
    padding-top: 41px;
    padding-bottom: 53px;

    &::after {
      width: 775px;
      height: 17px;
      left: -60px;
      bottom: 8px;
      background-image: url("../img/zigzag-line-mobile.svg");
      background-size: 100%;
      background-position: 25px 0;
    }
  }

  .best-product__title {
    @include font-params(43px, 50px);
    margin-bottom: 45px;
    margin-left: -2px;
  }

  .best-product__subtitle {
    @include font-params(17px, 17px);
    width: 70px;
    padding-right: 27px;
    padding-top: 10px;
    margin-bottom: 0;
    text-align: center;
  }

  .best-product__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .best-product__wrapper-tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .best-product__column {
    width: 292px;

    &--bottom {
      margin-top: -136px;
    }
  }

  .best-product__description {
    @include font-params(17px, 30px);
    margin: 0;
    margin-bottom: 33px;
    padding-top: 5px;
  }

  .best-product__img {
    width: 333px;
    height: 404px;
    margin-top: 11px;
  }

  .best-product__price {
    @include font-params(20px, 24px);
    margin-bottom: 34px;
  }

  .best-product__order-btn {
    padding-top: 14px;
  }
}

@media (min-width: $desktop-width) {
  .best-product {
    position: relative;
    width: 1050px;
    padding-top: 122px;
    padding-bottom: 100px;


    &::after {
      width: 1050px;
      height: 23px;
      left: 0;
      bottom: 6px;
      background-image: url("../img/zigzag-line-mobile.svg");
      background-position: -27px;
      background-size: 100%;
    }
  }

  .best-product__title {
    @include font-params(53px, 57px);
    margin-left: 55px;
    margin-bottom: 42px;
  }

  .best-product__wrapper {
    justify-content: flex-end;
    flex-direction: row-reverse;
  }

  .best-product__subtitle {
    margin-left: 47px;
    margin-top: 5px;
    padding-right: 0;
  }

  .best-product__column {
    width: 292px;
    padding-right: 0;


    &--bottom {
      margin-top: 0;
    }
  }

  .best-product__img {
    position: absolute;
    top: 55px;
    right: 0;
    width: 525px;
    height: 636px;
    z-index: -1;
  }

  .best-product__description {
    margin-bottom: 47px;
  }

  .best-product__wrapper-tablet {
    width: 292px;
    margin-left: 175px;
  }

  .best-product__table {
    margin-bottom: 109px;
  }

  .best-product__field,
  .best-product__value {
    padding-left: 0;
    padding-top: 7px;
    padding-bottom: 10px;
  }

  .best-product__price {
    margin-bottom: 33px;
  }

  .best-product__order-btn {
    padding-bottom: 13px;
  }
}
