.button {
  display: inline-block;
  vertical-align: top;
  padding: 20px 85px;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: $dark-gray;
  font-weight: 700;
  text-decoration: none;
  border: 2px solid $dark-gray;
  background-color: hsl(0, 0%, 100%);
  &:hover,
  &:focus {
    color: hsl(0, 0%, 100%);
    background-color: $dark-gray;
  }
  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: $dark-gray;
  }
}
