.button {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 15px;
  box-sizing: border-box;
  word-wrap: break-word;

  @include font-params(17px, 20px);
  text-align: center;
  color: $dark-gray;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid $dark-gray;
  background-color: hsl(0, 0%, 100%);

  &:hover,
  &:focus {
    color: hsl(0, 0%, 100%);
    background-color: $dark-gray;
    outline: none;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: $dark-gray;
  }
}

.button--green-theme {
  color: rgba(255, 255, 255, 1);
  background-color: $tiffany-color;
  border-color: $tiffany-color;

  &:hover,
  &:focus {
    border-color: $dark-gray;
  }
}

@media (min-width: $tablet-width) {
  .button {
    padding-top: 15px;
  }
}
