.catalog__list {
  width: 260px;
  margin: 0 auto;
  padding-top: 7px;
}

@media (min-width: $tablet-width) {
  .catalog__list {
    width: 668px;
    padding-top: 82px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1050px;
    padding-top: 132px;
  }

  .catalog__item {
    display: flex;
  }
}
