.checkbox-set {
  margin: 0;
}

.checkbox-set__item {
  margin: 0;
  margin-top: 18px;
}

.checkbox-set__label {
  position: relative;
  display: block;
  padding-left: 63px;
  margin-bottom: 43px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -12px;
    width: 36px;
    height: 35px;
    border: 2px solid $dark-gray;
  }

  &::after {
    display: none;
    content: "";
    position: absolute;
    top: -8px;
    left: 11px;
    width: 10px;
    height: 17px;
    border: 3px solid rgba(0, 0, 0, 1);
    transform: rotate(42deg);
    border-left-color: transparent;
    border-top-color: transparent;
  }
}

.checkbox-set__input:checked + .checkbox-set__label::after {
  display: block;
}

.checkbox-set__label:hover::before,
.checkbox-set__label:focus::before {
  border: 2px solid $tiffany-color;
}

.checkbox-set__input:disabled + .checkbox-set__label::before {
  border: 2px solid rgba(68, 68, 68, 0.3);
}

@media (min-width: $tablet-width) {
  .checkbox-set {
    padding-top: 45px;
    padding-bottom: 30px;
    background-color: $gray-color;
  }

  .checkbox-set__label {
    padding-left: 80px;
    margin-bottom: 40px;

    &::before {
      width: 50px;
      height: 48px;
      top: -15px;
    }

    &::after {
      width: 13px;
      height: 25px;
      top: -9px;
      left: 17px;
      transform: rotate(46deg);
    }
  }

  .checkbox-set__item {
    width: 230px;
  }
}
