.contacts {
  background-color: rgba(255, 255, 255, 1);
}

.contacts__title {
	@include font-params(18px, 30px);
}

.contacts__text {
  @include font-params(15px, 30px);
  color: $dark-gray;
  font-style: normal;
}

.contacts__email-link {
  color: $dark-gray;
  text-decoration-color: rgba(70, 193, 174, 1);

  &:hover,
  &:focus {
    color: rgba(70, 193, 174, 1);
  }

  &:active {
    opacity: 0.3;
  }
}
