.contacts {
  background-color: rgba(255, 255, 255, 1);
  padding-bottom: 42px;
  color: rgba(0, 0, 0, 1);
}

.contacts__title {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 25px;

  @include font-params(18px, 30px);
}

.contacts__text {
  display: flex;
  margin-bottom: 30px;

  @include font-params(15px, 30px);
  color: $dark-gray;
  font-style: normal;
}

.contacts__email-link {
  position: relative;
  color: $dark-gray;
  text-decoration: none;

  &::after {
    position: absolute;
    content: "";
    top: 29px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(70, 193, 174, 1);
  }


  &:hover,
  &:focus {
    color: rgba(70, 193, 174, 1);
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__address {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 5px;
}

.contacts__subtitle {
  margin-right: 32px;
}

.contacts__map-wrapper {
  position: relative;
  min-width: 260px;
  min-height: 457px;
  margin-bottom: 39px;
}

.contacts__iframe-map {
  position: relative;
  z-index: 2;
  width: 100%;
  border: 0;
}

.contacts__img-map {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -150px;
  z-index: 1;
}

.contacts__write-btn {
  display: block;
  width: 260px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-top: 80px;
    padding-bottom: 57px;
  }

  .contacts__title {
    position: relative;
    width: 668px;
    margin-bottom: 35px;

    @include font-params(43px, 50px);

    &::after {
      position: absolute;
      right: 0;
      top: -15px;
      content: "";
      width: 47px;
      height: 81px;
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
    }
  }

  .contacts__address {
    width: 668px;
    display: flex;
    flex-shrink: 0;
    margin-bottom: 20px;
  }

  .contacts__text {
    width: 350px;
    margin-top: 10px;

    @include font-params(17px, 30px);
  }

  .contacts__subtitle {
    margin-right: 25px;
  }

  .contacts__write-btn {
    width: 230px;
  }

  .contacts__map-wrapper {
    margin-bottom: 55px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1050px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 38px;
    box-sizing: border-box;
  }

  .contacts__title {
    width: 300px;
    margin: 0;
    margin-bottom: 50px;

    @include font-params(53px, 57px);

    &::after {
      left: -107px;
      top: -8px;
    }
  }

  .contacts__map-wrapper {
    width: 525px;
    height: 457px;
  }

  .contacts__address {
    display: block;
    margin: 0;
  }

  .contacts__text {
    width: 300px;
  }

  .contacts__write-btn {
    margin: 0;
    margin-left: 175px;
    margin-top: -105px;
    margin-bottom: 70px;
  }

  .contacts__desktop-wrapper {
    padding-left: 170px;
    padding-top: 73px;
    width: 50%;
    box-sizing: border-box;
  }
}
