.copyright {
  @include font-params(19px, 18px);
  padding: 28px 40px 28px 38px;
  display: flex;
  justify-content: space-between;

  &:active {
    opacity: 0.3;
  }
}

.copyright__img {
  margin-top: -5px;
  fill: rgba(99, 209, 187, 1);

  &:hover,
  &:focus {
    fill: rgba(70, 193, 174, 1);
  }

  &:active {
    fill: rgba(70, 193, 174, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    padding: 0;
  }

  .copyright__link {
    margin-left: 30px;
  }
}
