.features {
  width: 260px;
  margin: 0 auto;
  padding-top: 32px;
  margin-bottom: 33px;
}

.features__title {
  @include font-params(25px, 30px);
}

.features__item {
  position: relative;
  padding-top: 84px;

  @include font-params(17px, 20px);

  &::before {
    content: "";
    position: absolute;
    background-position: center;
    background-repeat: repeat;
  }

  &--eco::before {
    top: 31px;
    left: 10px;
    min-width: 32px;
    min-height: 37px;
    background-image: url("../img/icon-feature-flower.svg");
  }

  &--scandy::before {
    top: 31px;
    left: 0;
    min-width: 47px;
    min-height: 27px;
    background-image: url("../img/icon-feature-money.svg");
  }

  &--likes::before {
    top: 34px;
    left: 8px;
    min-width: 34px;
    min-height: 27px;
    background-image: url("../img/icon-feature-heart.svg");
  }

  &--handmade::before {
    top: 32px;
    left: 4px;
    min-width: 35px;
    min-height: 34px;
    background-image: url("../img/icon-feature-ball.svg");
  }

  &--motherland::before {
    top: 32px;
    left: -6px;
    min-width: 55px;
    min-height: 23px;
    background-image: url("../img/icon-feature-rocket.svg");
  }

  &--pack::before {
    top: 32px;
    left: 3px;
    min-width: 33px;
    min-height: 32px;
    background-image: url("../img/icon-feature-gift.svg");
  }
}

@media (min-width: $tablet-width) {
  .features {
    width: 668px;
    padding-top: 50px;
    padding-right: 10px;
    margin-bottom: 86px;
  }

  .features__title {
    @include font-params(43px, 50px);
  }

  .features__list {
    max-height: 480px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .features__item {
    @include font-params(20px, 22px);
    width: 300px;
    padding-top: 108px;

    &--eco::before {
      top: 47px;
    }

    &--scandy::before {
      top: 51px;
    }

    &--likes::before {
      top: 60px;
    }

    &--handmade::before {
      top: 52px;
    }

    &--motherland::before {
      top: 52px;
    }

    &--pack::before {
      top: 57px;
    }
  }
}

@media (min-width: $desktop-width) {
  .features {
    width: 1050px;
    margin: 0 auto;
    margin-bottom: 89px;
    padding-top: 59px;
    padding-left: 172px;
    padding-right: 170px;
    box-sizing: border-box;
  }

  .features__title {
    @include font-params(53px, 57px);
  }

  .features__item {
    padding-top: 108px;
  }
}
