.features {
  width: 260px;
  margin: 0 auto;
  padding-top: 32px;
  margin-bottom: 33px;
}

.features__title {
  @include font-params(25px, 30px);
}

.features__item {
  position: relative;
  padding-top: 84px;
  word-wrap: break-word;

  @include font-params(17px, 20px);

  &::before {
    content: "";
    position: absolute;
    background-position: center;
    background-repeat: repeat;
  }

  &--eco::before {
    top: 31px;
    left: 10px;
    min-width: 33px;
    min-height: 38px;
    background-image: url("../img/icon-feature-flower.svg");
  }

  &--scandy::before {
    top: 31px;
    left: 0;
    min-width: 47px;
    min-height: 27px;
    background-image: url("../img/icon-feature-money.svg");
  }

  &--likes::before {
    top: 34px;
    left: 8px;
    min-width: 34px;
    min-height: 27px;
    background-image: url("../img/icon-feature-heart.svg");
  }

  &--handmade::before {
    top: 32px;
    left: 4px;
    min-width: 35px;
    min-height: 34px;
    background-image: url("../img/icon-feature-ball.svg");
  }

  &--motherland::before {
    top: 32px;
    left: -6px;
    min-width: 55px;
    min-height: 23px;
    background-image: url("../img/icon-feature-rocket.svg");
  }

  &--pack::before {
    top: 32px;
    left: 3px;
    min-width: 33px;
    min-height: 32px;
    background-image: url("../img/icon-feature-gift.svg");
  }
}

@media (min-width: $tablet-width) {
  .features {
    display: flex;
    flex-direction: column;
    width: 668px;
    padding-top: 43px;
    padding-right: 10px;
    margin-bottom: 40px;
    flex-grow: 0;
  }

  .features__title {
    @include font-params(43px, 50px);
  }

  .features__list {
    height: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-top: 33px;
    padding-left: 5px;
  }

  .features__item {
    @include font-params(20px, 22px);
    width: 300px;
    padding-top: 70px;
    margin-bottom: 40px;

    &--eco::before {
      top: 16px;
    }

    &--scandy::before {
      top: 17px;
    }

    &--likes::before {
      top: 24px;
    }

    &--handmade::before {
      top: 17px;
    }

    &--motherland::before {
      top: 20px;
    }

    &--pack::before {
      top: 19px;
    }
  }
}

@media (min-width: $desktop-width) {
  .features {
    width: 1050px;
    margin: 0 auto;
    padding-top: 55px;
    padding-left: 170px;
    padding-right: 170px;
    box-sizing: border-box;
    margin-bottom: 25px;
  }

  .features__title {
    @include font-params(53px, 57px);
  }

  .features__list {
    height: 520px;
  }

  .features__item {
    margin-bottom: 45px;
    padding-top: 67px;

    &--eco::before {
      top: 14px;
    }

    &--scandy::before {
      top: 14px;
    }

    &--likes::before {
      top: 18px;
    }

    &--motherland::before {
      top: 18px;
    }

    &--pack::before {
      top: 14px;
    }
  }
}
