.logo {
  display: block;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.logo__image {
  width: 86px;
  height: 35px;
  text-align: center;
}

.logo__image-footer {
  width: 102px;
  height: 34px;
}

@media (min-width: $tablet-width) {
  .logo__image {
    width: 112px;
    height: 46px;
  }
}

@media (min-width: $desktop-width) {
  .logo__image {
    width: 149px;
    height: 72px;
  }
}
