.main-navigation {
  background-color: hsl(0, 0%, 100%);
}

.main-navigation__link {
  display: block;
  padding: 32px 95px 32px 76px;
  box-shadow: 0 1px 0 0 rgba(236, 236, 236, 1),
  inset 0 1px 0 0 rgba(236, 236, 236, 1);
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: hsl(0, 0%, 0%);
  text-decoration: none;
  &:hover,
  &:focus {
    color: hsl(0, 0%, 40%);
  };
  &:active {
    color: hsl(0, 0%, 70%);
  };
}

