.modal {
  display: none;
  position: fixed;
  left: 50%;
  z-index: 5;
  width: 320px;
  margin-left: -160px;
  padding: 30px 30px 46px 30px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(198, 198, 198, 1);
  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);

  &--index {
    top: 100px;
  }

  &--catalog {
    top: 100px;
  }
}

.modal__title {
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 12px;
  text-align: center;

  @include font-params(25px, 30px);
  text-transform: uppercase;
}

.modal__text {
  margin: 0;
  margin-bottom: 24px;

  @include font-params(15px, 30px);
  color: $dark-gray;
  text-align: center;
}

.modal__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.modal__label {
  display: inline-block;
  vertical-align: bottom;
  padding-top: 15px;
  width: 82px;
  height: 52px;
  box-sizing: border-box;

  @include font-params(17px, 16px);
  border: 2px solid rgba(68, 68, 68, 0.1);
  text-align: center;
  color: $dark-gray;

  &:hover,
  &:focus {
    border-color: rgba(68, 68, 68, 0.3);
  }
}

.modal__radio:checked + .modal__label {
  border-color: $tiffany-color;
}

.modal__radio:focus + .modal__label {
  border-color: rgba(68, 68, 68, 0.3);
}

.modal--show {
  display: block;
  animation: modal-up 0.5s;
}

@keyframes modal-up {
  0% {
    transform: translateY(-200px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@media (min-width: $tablet-width) {
  .modal {
    width: 566px;
    margin-left: -283px;
    padding-left: 90px;
    padding-right: 90px;
  }

  .modal__title {
    @include font-params(30px, 57px);
    margin-left: 15px;
    margin-bottom: 15px;
  }

  .modal__text {
    @include font-params(17px, 30px);
  }


  .modal__label {
    width: 112px;
    height: 52px;
  }

  .modal__list {
    padding: 0 19px;
    margin-bottom: 30px;
  }

  .modal__button {
    margin-left: 20px;
    width: 350px;
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  .modal {
    top: 20px;
  }
}
