.page-header {
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  position: relative;
}

.page-header__wrapper-background {
  background-color: hsl(0, 0%, 98%);
}

.page-header__description {
  padding: 70px 35px 123px 35px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;

  @include font-params(27px, 30px);
  text-align: center;
  background-color: hsl(0, 0%, 98%);
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -18px;
  background-size: 575px 373px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
  }
}

.page-header__logo {
  box-sizing: border-box;
  padding: 20px 118px;
  box-shadow:
    0 1px 0 0 rgba(236, 236, 236, 1),
    inset 0 1px 0 0 rgba(236, 236, 236, 1);
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    padding: 22px 209px 0 49px;
    max-height: 94px;
  }

  .page-header__description {
    @include font-params(43px, 50px);
    padding: 150px 135px 371px 135px;
    width: 768px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: center -5px;
    background-size: 1150px 746px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
    }
  }

  .page-header__promo-wrapper {
    position: relative;
    background-color: rgba(250, 250, 250, 1);

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 24px;
      bottom: -10px;
      left: 0;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: 100%;
      background-repeat: repeat-x;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    order: 1;
    padding: 9px 101px 0 40px;
  }

  .page-header__description {
    width: 1150px;
    margin: 0 auto;

    @include font-params(53px, 57px);
    padding: 150px 260px 360px 260px;

    background-image: url("../img/hero-desktop@1x.jpg");
    background-size: 100%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }

  .page-header__promo-wrapper {
    &::after {
      height: 35px;
      bottom: -15px;
      background-size: 110%;
    }
  }
}
