.page-header {
  background-color: hsl(0, 0%, 100%);
}

.page-header__description {
  padding: 76px 15% 120px 15%;
  margin: 0;

  @include font-params(27px, 30px);
  text-align: center;
  background-color: hsl(0, 0%, 98%);
  background-image: url("../../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
}

.page-header__logo {
  padding: 22px 118px;
  box-shadow:
    0 1px 0 0 rgba(236, 236, 236, 1),
    inset 0 1px 0 0 rgba(236, 236, 236, 1);
}
