.page-header {
  background-color: hsl(0, 0%, 100%);
  position: relative;
}

.page-header__description {
  padding: 70px 35px 123px 35px;
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;

  @include font-params(27px, 30px);
  text-align: center;
  background-color: hsl(0, 0%, 98%);
  background-image: url("../../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -18px ;
  background-size: 180%;
}

.page-header__logo {
  box-sizing: border-box;
  padding: 20px 118px;
  box-shadow:
    0 1px 0 0 rgba(236, 236, 236, 1),
    inset 0 1px 0 0 rgba(236, 236, 236, 1);
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    padding: 24px 51px;
    padding-right: 235px;
  }

  .page-header__description {
    @include font-params(43px, 50px);
    padding: 150px 135px 371px 135px;
    width: 768px;
    background-size: cover; /*Фон будет заменен позже*/

    & br {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    order: 1;
  }
}
