.page-footer__logo {
  display: none;
}

.page-footer__social {
  width: 260px;
  margin: 0 auto;
  box-sizing: border-box;
}

.page-footer__copyright {
  width: 260px;
  box-sizing: border-box;
  margin: 0 auto;
}

.page-footer__contacts {
  padding-top: 42px;
}

.page-footer__wrapper-background {
  background-color: $gray-color;
}

.page-footer {
  background-color: $gray-color;

  &--background-white {
    background-color: transparent;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__logo {
    display: block;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    width: 678px;
    margin: 0 auto;
    padding: 50px 0;
  }

  .page-footer__social {
    width: auto;
    margin: 0;
    margin-left: 75px;
  }

  .page-footer__copyright {
    width: auto;
    margin: 0;
    margin-top: 12px;
    margin-right: 3px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: 1050px;
  }

  .page-footer__social {
    margin-left: 80px;
  }

  .page-footer__copyright {
    margin-right: 0;
  }
}
