.product {
  border: 1px solid rgba(236, 236, 236, 1);

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.product__img {
  width: 100%;
}

.product__title-link {
  @include font-params(17px, 24px);
  color: rgba(0, 0, 0, 1);
  text-decoration: none;

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.product__description {
  @include font-params(13px, 30px);
}

.product__price {
  @include font-params(15px, 24px);
}
