.product {
  border: 1px solid rgba(236, 236, 236, 1);
  margin: 30px;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.product__title-link {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.product__description {
  font-size: 13px;
  line-height: 30px;
}

.product__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
}
