.promo-list__link {
  display: block;
  padding: 30px 185px 30px 30px;

  @include font-params(19px, 24px);
  color: hsl(0, 0%, 100%);
  text-decoration: none;

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &--light-background {
    background-color: $tiffany-color;
  }

  &--dark-background {
    background-color: hsl(171, 48%, 55%);
  }
}
