.radio-set__label {
  position: relative;
  display: block;
  padding-left: 60px;
  margin-bottom: 25px;

  &:hover,
  &:focus {
    outline: none;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
    width: 36px;
    height: 36px;
    border: 2px solid $dark-gray;
    border-radius: 50%;
  }

  &::after {
    display: none;
    content: "";
    position: absolute;
    top: 3px;
    left: 12px;
    width: 16px;
    height: 16px;
    background-color: $tiffany-color;
    border-radius: 50%;
  }
}

.radio-set__label:hover::before,
.radio-set__label:focus::before {
  border: 2px solid $tiffany-color;
}

.radio-set__input:checked + .radio-set__label::after {
  display: inline-block;
}

.radio-set__input:focus + .radio-set__label::before {
  border: 2px solid $tiffany-color;
}

.radio-set__input:disabled + .radio-set__label::before {
  border: 2px solid rgba(68, 68, 68, 0.3);
}

@media (min-width: $tablet-width) {
  .radio-set__item {
    margin-left: 7px;
  }

  .radio-set__label {
    padding-left: 80px;
    margin-bottom: 57px;

    &::before {
      top: -14px;
      left: 0;
      width: 48px;
      height: 48px;
    }

    &::after {
      top: 0;
      left: 15px;
      width: 22px;
      height: 22px;
    }
  }
}

@media (min-width: $desktop-width) {
  .radio-set__item {
    margin-left: 8px;
    margin-bottom: 57px;
  }

  .radio-set__label {

    &::before {
      top: -15px;
      left: -2px;
    }

    &::after {
      top: -1px;
      left: 13px;
    }
  }
}
