.reviews__title {
	@include font-params(25px, 30px);
	color: rgba(0, 0, 0, 1);
}

.reviews__content {
	@include font-params(15px, 30px);
	color: $dark-gray;
}

.reviews__author-name {
	@include font-params(17px, 24px);
	color: rgba(0, 0, 0, 1);
}

.reviews__author-email {
	@include font-params(17px, 30px);
	color: $dark-gray;
}

.reviews__arrow {
	border: 1px solid $gray-color;
  width: 130px;
  height: 52px;
  background-color: transparent;
  border: 1px solid $gray-color;
}
