.social {
  display: flex;
  justify-content: space-between;
  padding: 30px 60px 23px 56px;
  border-bottom: 1px solid rgba(229, 229, 229, 1);
}

.social__link--fb {
  display: block;
  margin-top: -5px;
}

.social__img {
  &:hover path,
  &:focus path {
    fill: rgba(70, 193, 174, 1);
  }

  &:active path {
    fill: rgba(70, 193, 174, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .social {
    padding: 0;
    padding-top: 12px;
    border-bottom: none;
  }

  .social__item:not(:last-child) {
    margin-right: 40px;
  }
}
