.page {
  min-width: 320px;
  padding: 0;
  margin: 0;

  @include font-params(15px, 24px);
  font-family: "Open-Sans", "Arial", sans-serif;
  color: $dark-gray;
}

img {
  max-width: 100%;
  height: auto;
}
