$tiffany-color: hsl(168, 54%, 60%);
$gray-color: hsl(0, 0%, 95%);
$dark-gray: hsl(0, 0%, 27%);
$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;
$tablet-width-only: 1149px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
